/HW/History
/HW/Project Logs for Z80Board
/HW/src/__Previews
/CPLD/output_files
/CPLD/incremental_db
/CPLD/db
/CPLD/Z80Kaa.qws
*.bak
/FW/*.bin
/Prog/build
/HW/*.log
/PCProg/obj
/PCProg/bin
/PCProg/.vs
/test_board/build
/ProgSTM32/build
/ProgPC/.vs
/ProgPC/bin
/ProgPC/obj
